.arglw { 
  border-left-width: 22px;
  padding-right: 57px;
  padding-left: 34px;
  margin-left: 74px;
  padding-left: 39px;
  line-height: 13px;
  border-bottom-width: 39px;
  border-bottom-width: 39px;
  border-left-width: 79px;
  margin-top: 41px;
  border-right-width: 96px;
  line-height: 81px;
  font-size: 12px;
  padding-right: 99px;
  padding-bottom: 45px;
  border-top-width: 85px;
  margin-right: 25px;
  padding-right: 38px;
  margin-right: 83px;
  padding-top: 49px;
  padding-top: 83px;
  font-size: 65px;
}
